* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

.img {
    max-width: 60%;
}

.container {
    margin: 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:24px;
}

.content {
    max-width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px;
    border-radius: 16px;
    background-color: white;
    gap: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.content p {
    font-size: 20px;
    font-weight: lighter;
}

.btn {
    width: fit-content;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(109, 109, 225);
    padding: 16px 16px;
    border: none;
    border-radius: 32px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    transition: ease;
}

.btn:hover {
    background-color: rgb(97, 97, 199);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
    border: 1px solid  rgb(149, 149, 236);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    .content {
        max-width: 80%;
    }
    
    .content p {
        font-size: 16px;
    }

    .btn {
        padding: 12px 12px;
        font-size: 14px;
    }
}